* {
    padding: 0;
    margin: 0;
    box-sizing:border-box
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
header{
    display: block
}
a {
    background: transparent;
    text-decoration: none
}
h1 {
    font-size: 24px
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 12px
}
body{
    background: url(img/bg_pattern.jpg)
}

.header {
    background: url("img/headerbg.png") repeat-x scroll 50% 0 rgba(0,0,0,0);
    width: 100%;
    height: 150px
}
.wrapper{
    width: 100%;
    height: 40px;
    background: rgba(216,216,216,.6);
    font-size: 15px;
    
}
.header .topnav {
    float: left;
    padding: 10px;
    padding-left: 9%;
    text-transform: uppercase
}

.header .topnav a {
    color: #016600;
}

.header .topnav a:hover {
    text-decoration: underline
}

.header .topnavR {
    float: right;
    padding: 10px;
    padding-right: 40px;
    text-transform: uppercase

}

.header .topnavR>li {
    display: inline-block
}

.header .topnavR>li a {
    color: #016600;
}

.header .topnavR a:hover {
    text-decoration: underline
}

.header .topnavR>li a:before {
    content: "|";
    padding: 0 15px
}

.header .topnavR>li:first-child a:before {
    content: "";
    padding: 0
}

.header .mednav{
    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header .logo {
    max-height: 30%;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -130%);
}

.header .logo img {
    width: 250px;
    height: auto;
}

.header .cart{
    background: url("img/cart.png") no-repeat scroll left center rgba(0,0,0,0);
    background-size: 30px;
    color: #000;
    height: 55px;
    position: absolute;
    right: 20px;
    text-indent: -500em;
    text-transform: uppercase;
    top: 20px;
    width: 55px;
    cursor: pointer
}

.header .search{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    height: 28px;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, 0%);
}

.header .search .text {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #333;
    float: left;
    margin: 6px 0 0 8px;
    padding: 2px;
    width: 300px;
    height: 20px;
}
.header .search .text::-webkit-input-placeholder {
    color: #016600;
    font-style: italic;
}

.header .search .submit {
    background: url("img/search.png") no-repeat center rgba(0,0,0,0);
    background-size: 20px;
    border: medium none;
    display: block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -100em;
    width: 30px
}
#nav{
    background: url("img/menubg.png");
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    width: 100%;
}

#nav >li {
    display: inline-block;
    padding-left: 10%;
    width: auto;
    
}
#nav, .subnav {
    list-style-type: none;
}
#nav li{
    position: relative;
}

#nav >li>a {
    color: #0f5731;
    padding: 5px 10px;
    text-transform: uppercase;
}
#nav li a{
    color: #fff;
    line-height: 50px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav {
    display: block;
 }
#nav > li:hover > a{
    color: #fff;
    background-color: #0f5731;
}
#nav .subnav li:hover a{
    color: #fff;
    background-color: #016600;
}
#nav .subnav {
    display: none; 
    min-width: 184px;
    position: absolute;
    background-color: #0f5731;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: #fff;
    padding: 0 12px;
    line-height: 38px;

}

.container {
    background: url(img/headerbg.png);
    margin: 40px auto;
    padding: 30px;
    width: 940px;
}

.bookdetailwrap {
    width: 98%;
    padding: 0;
    margin: 0 auto;
    background: url(images2/headerbg.png) repeat scroll 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 4px #444;
    min-height: 300px;
}

.pageheader {
    text-align: center;
    padding: 24px 0 0;
}

.pageheader h1, .pageheader h1 a {
    color: #524643;
    font-size: 18px;
    text-transform: uppercase;
}

.bookdetailwrap .form {
    padding: 20px;
}

.form {
    display: block;
    margin-top: 0em;
}

.validation-summary-errors {
    color: #b94a48;
    ont-weight: bold;
    color: red;
}
.form p {
    padding-top: 10px;
}

.form label {
    display: block;
}

.form input[type="text"], .form input[type="password"] {
    width: 200px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bdc2c9;
    color: #555;
    font: 12px "Arial";
    padding: 2px;
}

.field-validation-error {
    color: #b94a48;
    color: red;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn {
    background: #00870a;
    border: 1px solid #00870a;
    color: #fff;
    padding: 5px 10px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

element.style {
    margin-top: 40px;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

footer{
    background: url(img/menubg.png);
    width: 100%;
    height: 10%;
    text-align: center;
    color: #fff;
    border-top: 4px solid rgba(216,216,216,.8);
    padding: 20px;
    position: sticky;
    top: 100%;

}