* {
    padding: 0;
    margin: 0;
    box-sizing:border-box
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
header{
    display: block
}
a {
    background: transparent;
    text-decoration: none
}

h1 {
    font-size: 21px
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 12px
}

body{
    background: url(../img/bg_pattern.jpg)
}

.die-msg {
    margin-top: 50px;
    text-align: center;
}