* {
    padding: 0;
    margin: 0;
    box-sizing:border-box
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
header{
    display: block
}
a {
    background: transparent;
    text-decoration: none
}
h1 {
    font-size: 24px
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 12px
}
body{
    background: url(../../img/bg_pattern.jpg)
}

.container {
    background: url(../../img/headerbg.png);
    margin: 40px auto;
    padding: 30px;
    width: 940px;
}

.bookdetailwrap {
    width: 98%;
    padding: 0;
    margin: 0 auto;
    background: url(../..//headerbg.png) repeat scroll 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 4px #444;
    min-height: 300px;
}

.pageheader {
    text-align: center;
    padding: 24px 0 0;
}

.pageheader h1, .pageheader h1 a {
    color: #524643;
    font-size: 18px;
    text-transform: uppercase;
}

.bookdetailwrap .form {
    padding: 20px;
}

.form {
    display: block;
    margin-top: 0em;
}

.validation-summary-errors {
    color: #b94a48;
    font-weight: bold;
    color: red;
}
.form p {
    padding-top: 10px;
}

.form label {
    display: block;
}

.form input[type="text"], .form input[type="password"] {
    width: 200px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bdc2c9;
    color: #555;
    font: 12px "Arial";
    padding: 2px;
}

.field-validation-error {
    color: #b94a48;
    color: red;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="submit"] {
    cursor: pointer;
}

.btn {
    background: #00870a;
    border: 1px solid #00870a;
    color: #fff;
    padding: 5px 10px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

element.style {
    margin-top: 40px;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

.login_failed {
    margin-top: 10px;
    color: red;
    font-style: italic;
}