* {
    padding: 0;
    margin: 0;
    box-sizing:border-box
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
header{
    display: block
}
a {
    background: transparent;
    text-decoration: none
}
h1 {
    font-size: 24px
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 12px
}

body{
    background: url(../../img/bg_pattern.jpg)
}

.table_wrap {
    background: url(../../img/headerbg.png);
    margin: 100px 150px 100px 150px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

table {
    margin: 0 auto;
    width: 800px;
    
}

td {
    height: 50px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.add_link {
    margin-bottom: 30px;
    text-align: center;
}